/* default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.default-display-width {
  max-width: 1200px;
}

/* Header Section */
.top-header {
  background-image: url("../images/banner/banner3.png");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.header-content {
  width: 60%;
  display: flex;
  margin-left: auto;
  align-items: flex-end;
  padding: 20vh 10% 0 0;
  flex-direction: column;
  text-align: right;
  color: white;
}
.header-content h1 {
  font-size: 65px;
}
.header-content p {
  font-size: 20px;
  letter-spacing: 0.5px;
  margin: 30px 0;
  line-height: 1.5;
  max-width: 600px;
}
.btn {
  border: none;
  padding: 14px 25px;
  font-size: 22px;
  border-radius: 8px;
  color: #0064b0;
  font-weight: 700;
}

/* previous year resolution section */
.previous-resolution-sec {
  display: flex;
  align-items: center;
  gap: 40px;
  margin: auto;
  height: 900px;
}

.prev-text-section {
  padding-left: 80px;
}
.prev-text-section h2 {
  font-size: 40px;
}
.prev-text-section > p {
  font-size: 17px;
  letter-spacing: 0.5px;
  color: #444343;
  line-height: 1.5;
  max-width: 500px;
  margin: 15px 0;
}
.previous-sec-checklist p {
  margin: 10px 0;
}
.fa-check {
  color: #16d887;
}

/* My Plans Section */
.my-plans-section {
  margin: 100px auto;
}
.my-plans-section > h2 {
  font-size: 40px;
  margin: 40px 0;
  text-align: center;
}
.plans-cards {
  display: flex;
  justify-content: space-around;
}
.plan-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.plan-card h2 {
  margin: 10px 0;
}
/* Footer Section  */
.footer {
  height: 500px;
  background-color: #151414;
  padding-top: 130px;
}
.footer-content {
  display: flex;
  color: #ffffff;
  margin: auto;
  height: 100%;
  justify-content: space-evenly;
}
.footer-info {
}
.footer-info p {
  max-width: 400px;
  margin: 20px 0;
}

.footer-subscribe-sec {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.footer-subscribe-sec input {
  font-size: 17px;
  padding: 18px 22px;
  border: none;
  border-radius: 6px;
  margin: 25px 0;
}
.btn-submit {
  border: none;
  padding: 15px 25px;
  font-size: 25px;
  border-radius: 8px;
  background-color: #005fac;
  color: #ffffff;
  font-weight: 700;
}
.social-icons img {
  margin-right: 15px;
}
